@charset "UTF-8";
.animation {
  /* display: flex; */
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 0 auto;
}

.animation-bg {
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.animation-bg-line {
  position: absolute;
  top: 0;
  left: 0;
}

.animation-label {
  position: absolute;
  width: 900px;
  max-width: 50%;
  top: 10%;
}

.animation-content {
  position: absolute;
  width: 90%;
  height: 90%;
  top: -5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.animation-shadow::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  transform: rotate(44deg);
  -webkit-clip-path: polygon(20% 22%, 99% 5%, 74% 72%, 0% 93%);
          clip-path: polygon(20% 22%, 99% 5%, 74% 72%, 0% 93%);
}

.animation-yellow {
  position: absolute;
  width: 32%;
  top: 46%;
  left: 5%;
  z-index: 1;
}

.animation-shadow.animation-yellow::after {
  top: 28%;
  left: 17%;
  width: 66%;
  height: 80%;
  background-image: linear-gradient(45deg, rgba(37, 130, 193, 0.3), rgb(37, 97, 120));
}

.animation-yellow img {
  position: absolute;
}
.animation-yellow .yellow-0 {
  position: relative;
  z-index: -1;
  width: 100%;
}
.animation-yellow .yellow-1 {
  z-index: 0;
  top: 16%;
  left: 79%;
  width: 12%;
}
.animation-yellow .yellow-2 {
  z-index: 0;
  top: 8%;
  left: 75%;
  width: 11%;
}
.animation-yellow .yellow-3 {
  z-index: 1;
  top: 35%;
  left: 41%;
  width: 10%;
}
.animation-yellow .yellow-4 {
  z-index: 0;
  top: 11%;
  left: 53%;
  width: 12%;
}
.animation-yellow .yellow-5 {
  z-index: 0;
  top: 29%;
  left: 31%;
  width: 12%;
}
.animation-yellow .yellow-6 {
  z-index: -1;
  top: 17%;
  left: 44%;
  width: 35%;
}
.animation-yellow .yellow-7 {
  z-index: 0;
  top: 31%;
  left: 36%;
  width: 15%;
}
.animation-yellow .yellow-8 {
  z-index: 0;
  top: 16%;
  left: 46%;
  width: 12%;
}
.animation-yellow .yellow-9 {
  z-index: 0;
  top: 37%;
  left: 29%;
  width: 13%;
}
.animation-yellow .yellow-10 {
  z-index: 0;
  top: 22%;
  left: 40%;
  width: 12%;
}
.animation-yellow .yellow-11 {
  z-index: 0;
  top: 13%;
  left: 58%;
  width: 12%;
}
.animation-yellow .yellow-12 {
  z-index: 0;
  top: 19%;
  left: 48%;
  width: 15%;
}
.animation-yellow .yellow-13 {
  z-index: 0;
  top: 20%;
  left: 52%;
  width: 15%;
}
.animation-yellow .yellow-14 {
  z-index: 0;
  top: 10%;
  left: 62%;
  width: 15%;
}
.animation-yellow .yellow-15 {
  z-index: 0;
  top: 12%;
  left: 66%;
  width: 15%;
}
.animation-yellow .yellow-16 {
  z-index: 0;
  top: 14%;
  left: 70%;
  width: 15%;
}
.animation-yellow .yellow-17 {
  z-index: 0;
  top: 38%;
  left: 30%;
  width: 19%;
}

.animation-app {
  position: absolute;
  width: 5.5%;
  top: 40%;
  left: 46%;
  z-index: 2;
}

.animation-cloud {
  position: absolute;
  width: 6%;
  top: 75%;
  left: 36%;
  z-index: 1;
}

.animation-orange-boat {
  position: absolute;
  width: 14%;
  top: 23%;
  left: 58%;
  z-index: 1;
}

.animation-orange {
  position: absolute;
  width: 34%;
  top: 34.9%;
  left: 52.5%;
}

.animation-shadow.animation-orange::after {
  top: -15%;
  left: 20%;
  width: 72%;
  height: 152%;
  background-image: linear-gradient(45deg, rgba(27, 91, 155, 0.45), rgb(12, 44, 104));
}

.animation-purple {
  position: absolute;
  width: 27%;
  top: 44%;
  left: 27.5%;
  z-index: -1;
}

.animation-shadow.animation-purple::after {
  top: 39%;
  left: 26%;
  width: 56%;
  height: 81%;
  background-image: linear-gradient(45deg, rgba(37, 130, 193, 0.3), rgb(37, 97, 120));
}

.animation-green-boat {
  position: absolute;
  width: 15%;
  top: 75%;
  left: 45%;
  z-index: 1;
}

.animation-green {
  position: absolute;
  width: 25%;
  top: 59%;
  left: 49%;
}

.animation-shadow.animation-green::after {
  top: 7%;
  left: 19%;
  width: 72%;
  height: 119%;
  background-image: linear-gradient(45deg, rgba(27, 91, 155, 0.45), rgb(12, 44, 104));
}

.animation-blue {
  position: absolute;
  width: 30%;
  top: 54%;
  left: 69%;
}

.animation-shadow.animation-blue::after {
  top: 15%;
  left: 34%;
  width: 47%;
  height: 87%;
  background-image: linear-gradient(45deg, rgba(16, 70, 124, 0.45), rgb(11, 38, 90));
}

.animation-pink {
  position: absolute;
  width: 20%;
  top: 18%;
  left: 78%;
}

.animation-shadow.animation-pink::after {
  top: 19%;
  left: 7%;
  width: 60%;
  height: 98%;
  background-image: linear-gradient(45deg, rgba(10, 68, 126, 0.35), rgb(11, 38, 90));
}

.animation-drone {
  position: absolute;
  width: 5.5%;
  top: 30%;
  left: 92%;
  filter: drop-shadow(0 60px 0 rgba(7, 3, 49, 0.4));
}

.animation-area span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: colorFade 2s ease-in-out infinite;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 113% 62%, 50% 100%, 0% 70%);
          clip-path: polygon(0% 0%, 100% 0%, 113% 62%, 50% 100%, 0% 70%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  opacity: 0;
}
.animation-area.animation-yellow span {
  top: 10%;
  left: 10.1%;
  width: 80.4%;
  height: 72%;
}
.animation-area.animation-purple span {
  top: 19.3%;
  left: 21.3%;
  width: 68.1%;
  height: 72.5%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 113% 62%, 50% 100%, 0% 70%);
          clip-path: polygon(0% 0%, 100% 0%, 113% 62%, 50% 100%, 0% 70%);
}
.animation-area.animation-green span {
  top: 12.3%;
  left: 11.3%;
  width: 87.1%;
  height: 72.5%;
  -webkit-clip-path: polygon(0% 0%, 98% 0%, 98% 56%, 48% 100%, 0% 55%);
          clip-path: polygon(0% 0%, 98% 0%, 98% 56%, 48% 100%, 0% 55%);
}
.animation-area.animation-orange span {
  top: -13%;
  left: 9.7%;
  width: 99%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, 91% 0%, 91% 57%, 45% 100%, 0% 59%);
          clip-path: polygon(0% 0%, 91% 0%, 91% 57%, 45% 100%, 0% 59%);
}
.animation-area.animation-blue span {
  top: -25%;
  left: 26%;
  width: 61%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 113% 66%, 50% 97%, 0% 71%);
          clip-path: polygon(0% 0%, 100% 0%, 113% 66%, 50% 97%, 0% 71%);
}
.animation-area.animation-pink span {
  top: -15%;
  left: 0%;
  width: 75%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 113% 62%, 50% 100%, 0% 70%);
          clip-path: polygon(0% 0%, 100% 0%, 113% 62%, 50% 100%, 0% 70%);
}

@keyframes colorFade {
  0% {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    opacity: 0.2;
  }
  50% {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    opacity: 1;
  }
  100% {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    opacity: 0.2;
  }
}
.conversation {
  position: absolute;
  left: 2%;
  bottom: 25%;
  z-index: 999;
}

.conversation img {
  width: 75%;
}

.wave-bg-box {
  position: absolute;
  bottom: -25%;
  z-index: -1;
}

@media (max-width: 1200px) {
  .animation-bg {
    height: 100vh;
    max-height: 800px;
  }
  .animation-label {
    max-width: 70%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .animation-bg img {
    width: 100%;
    height: 100%;
  }
  .animation-content {
    position: absolute;
    width: 100%;
    /* transform: translate(-8%, 0); */
    height: 75%;
    top: 20%;
  }
  .conversation {
    top: 90%;
  }
  .conversation img {
    width: 50%;
  }
  .wave-bg-box {
    top: 89%;
  }
}
@media (max-width: 1024px) {
  .animation-bg {
    max-height: 1000px;
  }
  .animation-content {
    height: 70%;
    top: 25%;
  }
}
@media (max-width: 768px) {
  .animation-bg {
    max-height: 700px;
  }
  .animation-content {
    height: 65%;
    top: 28%;
  }
}
@media (max-width: 576px) {
  .animation-bg {
    max-height: 400px;
  }
  .animation-label {
    top: 20%;
  }
  .animation-content {
    height: 55%;
    top: 30%;
  }
  .wave-bg-box {
    top: 80%;
  }
}
/* 首頁內容輪播區 */
.carousel-container {
  /* position: relative; */
}

.carousel-box {
  position: relative;
  background-image: url(../images/index/全景圖區塊/背景圖.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
}

.carousel-bg {
  position: absolute;
  z-index: -1;
  top: -15%;
  left: -3.5%;
  width: 1400px;
  max-width: 110%;
}

.carousel {
  width: 93%;
  margin: 0 auto;
  padding-top: 9%;
  padding-bottom: 15%;
}

.accordion {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.accordion-item {
  position: absolute;
  max-width: 350px;
  background-color: transparent;
  border-color: #3d9ed5;
  border-width: 5px;
}
.accordion-item:first-of-type {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.accordion-item:not(:first-of-type) {
  border-top: 3px solid #3288b9;
}

@media (min-width: 1200px) {
  .accordion-item {
    border-image-source: radial-gradient(59% 82%, transparent 0px, transparent 100%, #3288b9 100%);
    border-image-slice: 1;
    border-width: 3px;
    border-style: solid;
    border-image-outset: 7px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: 3px solid #3288b9;
  }
}
#accordionExample1 .accordion-item:first-of-type {
  top: 2%;
  left: 4%;
}
#accordionExample1 .accordion-item:nth-of-type(2) {
  top: 26%;
  left: 3%;
}
#accordionExample1 .accordion-item:nth-of-type(3) {
  top: 59%;
  left: 3%;
}
#accordionExample1 .accordion-item:nth-of-type(4) {
  top: 80%;
  left: 2.5%;
}
#accordionExample1 .accordion-item:nth-of-type(5) {
  top: 12%;
  left: 12%;
}
#accordionExample1 .accordion-item:nth-of-type(6) {
  top: 45%;
  left: 12%;
}
#accordionExample1 .accordion-item:nth-of-type(7) {
  top: 69%;
  left: 12%;
}

#accordionExample2 .accordion-item:nth-of-type(1) {
  top: 10%;
  left: 12%;
}
#accordionExample2 .accordion-item:nth-of-type(2) {
  top: 60%;
  left: 13%;
}
#accordionExample2 .accordion-item:nth-of-type(3) {
  top: 5%;
  left: 5%;
}
#accordionExample2 .accordion-item:nth-of-type(4) {
  top: 42%;
  left: 3%;
}
#accordionExample2 .accordion-item:nth-of-type(5) {
  top: 62%;
  left: 3%;
}

.accordion-button {
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: min(max(0.1rem, 1.2vw), 1.3rem);
  font-weight: 600;
  text-shadow: 2px 2px 3px #000;
  margin: 0;
  padding: 0;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  margin-bottom: 0px;
}
.accordion-button::after {
  margin-left: 0px;
  margin-right: 12px;
  background-position-x: right;
}
.accordion-button span {
  position: relative;
  background-color: rgba(61, 157, 213, 0.6901960784);
  padding: 10px 40px 10px 12px;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 85% 100%);
          clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 85% 100%);
}

/* .accordion-button span::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 46px 20px 0 0;
      border-color: #3d9dd5b0 transparent transparent transparent;
  } */
.accordion-collapse {
  background-color: rgba(255, 255, 255, 0.8);
  /* margin-bottom: 3px; */
  margin-right: 4px;
  margin-left: 4px;
}

.accordion-body {
  position: relative;
  font-size: min(max(0.1rem, 0.9vw), 1rem);
}
.accordion-body::after {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  height: 3px;
  background-color: #3d9ed5;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0);
}

.slick-prev,
.slick-next {
  display: block;
  width: 64px;
  height: 64px;
  filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
  border-radius: 50%;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  box-shadow: 0px 0px 60px #fff;
}

.slick-prev:hover, .slick-prev:focus {
  display: block;
  width: 64px;
  height: 64px;
  filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
  border-radius: 50%;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  box-shadow: 0px 0px 60px #fff;
}

.slick-next:hover, .slick-next:focus {
  display: block;
  width: 64px;
  height: 64px;
  filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
  border-radius: 50%;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  box-shadow: 0px 0px 60px #fff;
}

.slick-prev {
  z-index: 1;
  left: 2%;
}

.slick-next {
  right: 2%;
}

.slick-prev::before,
.slick-next::before {
  /* font-size: 4rem; */
  display: none;
}

/* .slick-prev::after,
  .slick-next::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: ;
      transform: translate(-20%, -25%);
      width: 180%;
      height: 180%;
      border-radius: 50%;
      background-image: radial-gradient(
          circle,
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0)
      );
      box-shadow: 0px 0px 40px #fff;
  } */
@media (max-width: 1200px) {
  .carousel-container {
    /* position: absolute; */
    /* top: 100%; */
    /* left: 50%; */
    /* transform: translate(-50%, 0%); */
    margin-top: 3rem;
  }
  .carousel-bg {
    max-width: 88%;
    top: -8.5%;
    left: 6.5%;
  }
  .accordion {
    position: sticky;
    margin-top: 3rem;
  }
  .accordion-item {
    position: static;
    max-width: 100%;
  }
  .accordion-button span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 20px 0 0;
    border-color: rgba(61, 157, 213, 0.6901960784) transparent transparent transparent;
  }
  .slick-prev,
  .slick-next {
    top: 27%;
  }
  .slick-prev:hover, .slick-prev:focus {
    top: 27%;
  }
  .slick-next:hover, .slick-next:focus {
    top: 27%;
  }
  .slick-prev {
    left: 2%;
  }
  .slick-next {
    right: 2%;
  }
}
@media (max-width: 768px) {
  .carousel-bg {
    top: -7%;
  }
  .slick-prev,
  .slick-next {
    top: 22%;
  }
  .slick-prev:hover, .slick-prev:focus {
    top: 22%;
  }
  .slick-next:hover, .slick-next:focus {
    top: 22%;
  }
}
@media (max-width: 576px) {
  .carousel-bg {
    top: -4.5%;
  }
  .slick-prev,
  .slick-next {
    top: 15%;
    width: 40px;
    height: 40px;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    box-shadow: 0px 0px 35px #fff;
  }
  .slick-prev:hover, .slick-prev:focus {
    top: 15%;
    width: 40px;
    height: 40px;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    box-shadow: 0px 0px 35px #fff;
  }
  .slick-next:hover, .slick-next:focus {
    top: 15%;
    width: 40px;
    height: 40px;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    box-shadow: 0px 0px 35px #fff;
  }
  .accordion-button {
    font-size: min(max(1rem, 5vw), 2.5rem);
  }
  .accordion-body {
    font-size: min(max(0.8rem, 4vw), 1rem);
  }
}/*# sourceMappingURL=index.css.map */