.animation {
    display: flex;
    width: fit-content;
    position: relative;
    top: -186px;
    margin: 0 auto;
    z-index: -1;
}

.animation-bg {
    position: relative;
    z-index: -2;
    overflow: hidden;
}

.animation-bg img {
}

.animation-label {
    position: absolute;
    width: 968px;
    max-width: 50%;
    top: 17%;
}

.animation-shadow::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -2;
    transform: rotate3d(3, -1, -2, -74deg);
}

.animation-yellow {
    position: absolute;
    width: 32%;
    top: 46%;
    left: 5%;
    z-index: 1;
}

.animation-shadow.animation-yellow::after {
    top: 28%;
    left: 17%;
    width: 66%;
    height: 80%;
    background-image: linear-gradient(
        45deg,
        rgba(37, 130, 193, 0.3),
        rgb(37, 97, 120)
    );
}

.animation-yellow img {
    position: absolute;
}

.animation-yellow .yellow-0 {
    position: relative;
    z-index: -1;
    width: 100%;
}

.animation-yellow .yellow-1 {
    z-index: 0;
    top: 16%;
    left: 79%;
    width: 12%;
}

.animation-yellow .yellow-2 {
    z-index: 0;
    top: 8%;
    left: 75%;
    width: 11%;
}

.animation-yellow .yellow-3 {
    z-index: 1;
    top: 35%;
    left: 41%;
    width: 10%;
}

.animation-yellow .yellow-4 {
    z-index: -0;
    top: 11%;
    left: 53%;
    width: 12%;
}

.animation-yellow .yellow-5 {
    z-index: -0;
    top: 29%;
    left: 31%;
    width: 12%;
}

.animation-yellow .yellow-6 {
    z-index: -1;
    top: 17%;
    left: 44%;
    width: 35%;
}

.animation-yellow .yellow-7 {
    z-index: -0;
    top: 31%;
    left: 36%;
    width: 15%;
}

.animation-yellow .yellow-8 {
    z-index: -0;
    top: 16%;
    left: 46%;
    width: 12%;
}

.animation-yellow .yellow-9 {
    z-index: -0;
    top: 37%;
    left: 29%;
    width: 13%;
}

.animation-yellow .yellow-10 {
    z-index: -0;
    top: 22%;
    left: 40%;
    width: 12%;
}

.animation-yellow .yellow-11 {
    z-index: -0;
    top: 13%;
    left: 58%;
    width: 12%;
}

.animation-yellow .yellow-12 {
    z-index: -0;
    top: 19%;
    left: 48%;
    width: 15%;
}

.animation-yellow .yellow-13 {
    z-index: -0;
    top: 20%;
    left: 52%;
    width: 15%;
}

.animation-yellow .yellow-14 {
    z-index: -0;
    top: 10%;
    left: 62%;
    width: 15%;
}

.animation-yellow .yellow-15 {
    z-index: -0;
    top: 12%;
    left: 66%;
    width: 15%;
}

.animation-yellow .yellow-16 {
    z-index: -0;
    top: 14%;
    left: 70%;
    width: 15%;
}

.animation-yellow .yellow-17 {
    z-index: -0;
    top: 38%;
    left: 30%;
    width: 19%;
}

.animation-app {
    position: absolute;
    width: 5.5%;
    top: 40%;
    left: 46%;
    z-index: 2;
}

.animation-cloud {
    position: absolute;
    width: 6%;
    top: 75%;
    left: 36%;
    z-index: 1;
}

.animation-orange-boat {
    position: absolute;
    width: 14%;
    top: 23%;
    left: 58%;
    z-index: 1;
}

.animation-orange {
    position: absolute;
    width: 34%;
    top: 34.9%;
    left: 52.5%;
}

.animation-shadow.animation-orange::after {
    top: -15%;
    left: 20%;
    width: 71%;
    height: 150%;
    background-image: linear-gradient(
        45deg,
        rgba(27, 91, 155, 0.45),
        rgb(12, 44, 104)
    );
}

.animation-purple {
    position: absolute;
    width: 27%;
    top: 44%;
    left: 27.5%;
    z-index: -1;
}

.animation-shadow.animation-purple::after {
    top: 41%;
    left: 26%;
    width: 56%;
    height: 77%;
    background-image: linear-gradient(
        45deg,
        rgba(37, 130, 193, 0.3),
        rgb(37, 97, 120)
    );
}

.animation-green-boat {
    position: absolute;
    width: 15%;
    top: 75%;
    left: 45%;
    z-index: 1;
}

.animation-green {
    position: absolute;
    width: 25%;
    top: 59%;
    left: 49%;
}

.animation-shadow.animation-green::after {
    top: 7%;
    left: 19%;
    width: 72%;
    height: 119%;
    background-image: linear-gradient(
        45deg,
        rgba(27, 91, 155, 0.45),
        rgb(12, 44, 104)
    );
}

.animation-blue {
    position: absolute;
    width: 30%;
    top: 54%;
    left: 69%;
}

.animation-shadow.animation-blue::after {
    top: 10%;
    left: 34%;
    width: 48%;
    height: 94%;
    background-image: linear-gradient(
        45deg,
        rgba(16, 70, 124, 0.45),
        rgb(11, 38, 90)
    );
}

.animation-pink {
    position: absolute;
    width: 20%;
    top: 18%;
    left: 78%;
}

.animation-shadow.animation-pink::after {
    top: 19%;
    left: 4%;
    width: 65%;
    height: 98%;
    background-image: linear-gradient(
        45deg,
        rgba(10, 68, 126, 0.35),
        rgb(11, 38, 90)
    );
}

.animation-drone {
    position: absolute;
    width: 5.5%;
    top: 30%;
    left: 92%;
    -webkit-filter: drop-shadow(0 60px 0 rgba(7, 3, 49, 0.4));
    filter: drop-shadow(0 60px 0 rgba(7, 3, 49, 0.4));
}

.animation-area span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: colorFade 2s ease-in-out infinite;
    clip-path: polygon(0% 0%, 100% 0%, 113% 62%, 50% 100%, 0% 70%);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0)
    );
    opacity: 0;
}

@keyframes colorFade {
    0% {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0)
        );
        opacity: 0.2;
    }

    50% {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0)
        );
        opacity: 1;
    }

    100% {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0)
        );
        opacity: 0.2;
    }
}

.animation-area.animation-yellow span {
    top: 10%;
    left: 10.1%;
    width: 80.4%;
    height: 72%;
}

.animation-area.animation-purple span {
    top: 19.3%;
    left: 21.3%;
    width: 68.1%;
    height: 72.5%;
    clip-path: polygon(0% 0%, 100% 0%, 113% 62%, 50% 100%, 0% 70%);
}

.animation-area.animation-green span {
    top: 12.3%;
    left: 11.3%;
    width: 87.1%;
    height: 72.5%;
    clip-path: polygon(0% 0%, 98% 0%, 98% 56%, 48% 100%, 0% 55%);
}

.animation-area.animation-orange span {
    top: -13%;
    left: 9.7%;
    width: 99%;
    height: 100%;
    clip-path: polygon(0% 0%, 91% 0%, 91% 57%, 45% 100%, 0% 59%);
}

.animation-area.animation-blue span {
    top: -25%;
    left: 26%;
    width: 61%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 113% 66%, 50% 97%, 0% 71%);
}

.animation-area.animation-pink span {
    top: -15%;
    left: 0%;
    width: 75%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 113% 62%, 50% 100%, 0% 70%);
}

.wave-bg-box {
    position: absolute;
    bottom: -39%;
    z-index: -1;
}

@media (max-width: 1200px) {
    .animation {
        top: -134px;
        overflow-x: hidden;
    }
    .animation-bg {
        height: calc(100vh);
        max-height: 800px;
    }
    .animation-label {
        max-width: 90%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .animation-bg img {
        width: 100%;
        height: 100%;
    }
    .animation-content {
        position: absolute;
        width: 110%;
        transform: translate(-8%, 0);
        height: 80%;
        top: 30%;
    }
    .wave-bg-box {
        top: 89%;
    }
}
@media (max-width: 1024px) {
    .animation-bg {
        max-height: 1000px;
    }
    .animation-content {
        height: 70%;
        top: 25%;
    }
}
@media (max-width: 576px) {
    .animation-bg {
        max-height: 500px;
    }
    .animation-content {
        height: 60%;
        top: 30%;
    }
}

/* 首頁內容區 */
.carousel-container {
    position: relative;
}
.carousel-box {
    position: relative;
}
.carousel-bg {
    position: absolute;
    z-index: -1;
    top: -15%;
    left: -3.5%;
    width: 1400px;
    max-width: 110%;
}
.carousel {
    margin: 0 auto;
}

.accordion {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.accordion-item {
    position: absolute;
    max-width: 20vw;
    background-color: transparent;
    border-color: #3d9ed5;
    border-width: 5px;
    border-style: solid;
    border-radius: 2px;
}
.accordion-item:not(:first-of-type) {
    border-top: 5px solid #3d9ed5;
}

#accordionExample1 .accordion-item:first-of-type {
    top: 2%;
    left: 4%;
}
#accordionExample1 .accordion-item:nth-of-type(2) {
    top: 26%;
    left: 3%;
}
#accordionExample1 .accordion-item:nth-of-type(3) {
    top: 59%;
    left: 3%;
}
#accordionExample1 .accordion-item:nth-of-type(4) {
    top: 80%;
    left: 2.5%;
}
#accordionExample1 .accordion-item:nth-of-type(5) {
    top: 12%;
    left: 12%;
}
#accordionExample1 .accordion-item:nth-of-type(6) {
    top: 42%;
    left: 13%;
}
#accordionExample1 .accordion-item:nth-of-type(7) {
    top: 69%;
    left: 12%;
}
#accordionExample2 .accordion-item:nth-of-type(1) {
    top: 10%;
    left: 12%;
}
#accordionExample2 .accordion-item:nth-of-type(2) {
    top: 60%;
    left: 13%;
}
#accordionExample2 .accordion-item:nth-of-type(3) {
    top: 5%;
    left: 6%;
}
#accordionExample2 .accordion-item:nth-of-type(4) {
    top: 42%;
    left: 3%;
}
#accordionExample2 .accordion-item:nth-of-type(5) {
    top: 62%;
    left: 1%;
}
.accordion-header {
    /* background-color: rgba(255, 255, 255, 0.3); */
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.accordion-button {
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    font-size: min(max(0.1rem, 1.2vw), 1.3rem);
    font-weight: 600;
    text-shadow: 2px 2px 3px #000;
    margin: 0;
    padding: 0;
}
.accordion-button:not(.collapsed) {
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    margin-bottom: 0px;
}
.accordion-button::after {
    margin-left: 30px;
    margin-right: 12px;
    background-position-x: right;
}
.accordion-button span {
    position: relative;
    background-color: #3d9dd5b0;
    padding: 10px 12px;
}
.accordion-button span::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 46px 20px 0 0;
    border-color: #3d9dd5b0 transparent transparent transparent;
}
.accordion-collapse {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3px;
    margin-right: 5px;
    margin-left: 5px;
}
.accordion-body {
    position: relative;
    font-size: min(max(0.1rem, 0.9vw), 1rem);
}
.accordion-body::after {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    height: 3px;
    background-color: #3d9ed5;
    top: 3px;
    left: 50%;
    transform: translate(-50%, 0);
}
.slick-prev {
    z-index: 1;
    left: 2%;
    width: auto;
}
.slick-next {
    right: 2%;
    width: auto;
}
.slick-prev::before,
.slick-next::before {
    font-size: 4rem;
}
@media (max-width: 1200px) {
    .carousel-container {
        position: absolute;
    }
    .accordion {
        position: sticky;
    }
    .accordion-item {
        position: static;
        max-width: 100%;
    }
    .accordion-button span::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 34px 20px 0 0;
        border-color: #3d9dd5b0 transparent transparent transparent;
    }
    .slick-prev {
        z-index: 1;
        top: 10%;
        left: 2%;
        width: auto;
    }
    .slick-next {
        top: 10%;
        right: 2%;
        width: auto;
    }
    .slick-prev::before,
    .slick-next::before {
        font-size: 2rem;
    }
}
@media (max-width: 576px) {
    .carousel-bg {
        max-width: 100%;
        top: -5%;
        left: 0%;
    }
    .carousel-container {
        top: 74%;
    }
    .carousel {
        width: 90%;
    }
    .accordion-button {
        font-size: min(max(0.1rem, 1.2vw), 1.3rem);
    }
    .accordion-body {
        font-size: min(max(0.1rem, 0.1vw), 0.1rem);
    }
}
