body {
    background-color: #3baed2;
}
.no-flex-grow {
    flex-grow: 0;
}
.logo {
    max-width: 50vw;
}

.nav-link {
    display: flex;
    width: 130px;
    text-align: center;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-underline .nav-link:hover,
.nav-underline .nav-link:focus {
    border-bottom-color: #ffc107;
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
    border-bottom-color: #ffc107;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.close-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3e%3c/svg%3e");
}
@media (min-width: 1201px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
.dropdown-item {
    text-align: center;
    font-weight: 600;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #1c54a1;
    background-color: transparent;
}
@media (max-width: 1200px) {
    .nav-item {
        text-align: end;
    }
    .nav-underline .nav-link {
        border-bottom-color: #ffffff;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 300px;
        max-width: 100%;
        overflow: hidden;
        transition: right 0.3s ease-in-out;
        background-color: #1c54a1;
        z-index: 1000;
    }

    .navbar-collapse.show {
        right: 0;
    }
    /* .collapse:not(.show) {
        display: block;
    } */
    .nav-link {
        width: auto;
    }

    .dropdown-animate.show {
        animation: slideDown 0.3s ease-in-out forwards;
    }

    .dropdown-animate {
        opacity: 0;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
