.no-flex-grow {
    flex-grow: 0;
}
.logo {
    max-width: 50vw;
}
.nav-item {
}
.nav-link {
    display: flex;
    width: 130px;
    text-align: center;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-underline .nav-link:hover,
.nav-underline .nav-link:focus {
    border-bottom-color: #ffc107;
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
    border-bottom-color: #ffc107;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-item {
    text-align: center;
    font-weight: 600;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #1c54a1;

    background-color: transparent;
}
