@charset "UTF-8";
body {
  background-color: #e3f9ff;
}

.conversation {
  display: none;
}

.text-indent {
  text-indent: 2.5rem;
  line-height: 3rem;
}

.fs-style {
  font-size: 1.25rem;
}

.nav-img {
  height: 55px;
}

.banner {
  text-align: center;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 10.4px 6px;
  border-color: transparent transparent #626262 transparent;
  margin: 0.3rem;
}

.content {
  background-image: url(../images/pages/pages-bg.png);
  background-size: contain;
  background-attachment: fixed;
}

.content-label {
  text-align: center;
}

.content-area-label {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.content-area-label .btn-link {
  flex-basis: 200px;
}
.content-area-label::before {
  content: "";
  position: absolute;
  display: block;
  height: 80%;
  width: 80%;
  box-shadow: -3px 4px 0px 0px #005a79;
  bottom: 1px;
  left: 0px;
}
.content-area-label::after {
  content: "";
  position: absolute;
  display: block;
  height: 80%;
  width: 80%;
  z-index: 1;
  top: -5px;
  right: -8px;
  background-color: #00bfff;
  -webkit-clip-path: polygon(0 0, 98% 0, 100% 35%, 100% 100%, 99.8% 100%, 99.8% 38%, 97.9% 5%, 0 5%);
          clip-path: polygon(0 0, 98% 0, 100% 35%, 100% 100%, 99.8% 100%, 99.8% 38%, 97.9% 5%, 0 5%);
}

.content-area-label-txt {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0087b4;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
}

.detail-label {
  color: #fff;
  background-image: linear-gradient(to right, #0060b7, rgba(0, 96, 183, 0));
  width: -moz-fit-content;
  width: fit-content;
}

.detail-pic {
  flex-basis: 300px;
}

.detail-content-title {
  color: #004585;
  border-bottom: 4px solid #0060b7;
}

.pink-highlight {
  color: #ff03ea;
}

.yellow-highlight {
  color: yellow;
}

.content-pic-box .small {
  display: flex;
  flex-basis: 325px;
}
.content-pic-box.innovation {
  background-image: url(../images/pages/innovation/基隆港圖片外框.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.yt-box.full {
  position: relative;
  background-image: url(../images/pages/solution/yt外框.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.yt-box.full iframe {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -44%);
  width: 94%;
  height: 94%;
}

.yt-box.half {
  position: relative;
  width: 45%;
  height: 0;
  padding-bottom: 25.8%;
}
.yt-box.half iframe {
  position: absolute;
  display: block;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.pic-box {
  position: relative;
  width: 45%;
}
.pic-box img {
  position: absolute;
  top: 10%;
}

@media (max-width: 1200px) {
  .nav-img {
    height: 40px;
  }
  .detail-pic {
    flex-basis: auto;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .text-indent {
    line-height: 2rem;
  }
  .fs-style {
    font-size: 1rem;
  }
  .content-area-label-txt {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .nav-img {
    height: 35px;
  }
  .content-area-label {
    font-size: 1.3rem;
  }
  .content-area-label .btn-link {
    flex-basis: 150px;
  }
  .detail-pic {
    width: 90%;
  }
}/*# sourceMappingURL=pages.css.map */