body {
    background-color: #e3f9ff;
}

.text-indent {
    text-indent: 2.5rem;
}

.content {
    background-image: url(../images/pages/pages-bg.png);
    background-size: contain;
}

.content-area-label {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 80%;
        width: 80%;
        box-shadow: -3px 3px 0px 0px #005a79;
        z-index: 1;
        bottom: 1px;
        left: 0px;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 80%;
        width: 80%;
        z-index: 1;
        top: -4px;
        right: -2px;
        background-color: #00bfff;
        clip-path: polygon(
            0 0,
            98% 0,
            100% 35%,
            100% 100%,
            99.8% 100%,
            99.8% 38%,
            97.9% 5%,
            0 5%
        );
    }

    .content-area-label-txt {
        display: block;
        width: fit-content;
        background-color: #0087b4;
        color: #fff;
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    }
}

.detail-label {
    color: #fff;
    background-image: linear-gradient(to right, #0060b7, #0060b700);
    width: fit-content;
}

.detail-pic {
    flex-basis: 300px;
}

.detail-content-title {
    color: #004585;
    border-bottom: 4px solid #0060b7;
}

.txt-highlight {
    color: #ff03ea;
}

@media (max-width: 1200px) {
    .detail-pic {
        flex-basis: auto;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .nav-img {
        height: 50px;
    }
}

@media (max-width: 576px) {
    .detail-pic {
        width: 90%;
    }
}
